#include <windows.h>
101 ICON "dist/tolf.ico"
1 VERSIONINFO
FILEVERSION 2,6,1,0
PRODUCTVERSION 2,6,1,0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904B0"
  BEGIN
   VALUE "CompanyName", "TOLF"
   VALUE "FileDescription", "TOLF native Windows VPN setup"
   VALUE "FileVersion", "2.6.1"
   VALUE "ProductName", "TOLF VPN"
   VALUE "ProductVersion", "2.6.1"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x409, 1200
 END
END


