<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconStartColor</key>
		<integer>431817727</integer>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>59760</integer>
	</dict>
	<key>WFWorkflowClientVersion</key>
	<string>4402.0.1</string>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.vpn.set</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFVPNOperation</key>
				<string>Set On Demand</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.vpn.set</string>
			<key>WFWorkflowActionParameters</key>
			<dict/>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.returntohomescreen</string>
			<key>WFWorkflowActionParameters</key>
			<dict/>
		</dict>
	</array>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFAppContentItem</string>
		<string>WFAppStoreAppContentItem</string>
		<string>WFArticleContentItem</string>
		<string>WFContactContentItem</string>
		<string>WFDateContentItem</string>
		<string>WFEmailAddressContentItem</string>
		<string>WFFolderContentItem</string>
		<string>WFGenericFileContentItem</string>
		<string>WFImageContentItem</string>
		<string>WFiTunesProductContentItem</string>
		<string>WFLocationContentItem</string>
		<string>WFDCMapsLinkContentItem</string>
		<string>WFAVAssetContentItem</string>
		<string>WFPDFContentItem</string>
		<string>WFPhoneNumberContentItem</string>
		<string>WFRichTextContentItem</string>
		<string>WFSafariWebPageContentItem</string>
		<string>WFStringContentItem</string>
		<string>WFURLContentItem</string>
	</array>
	<key>WFWorkflowImportQuestions</key>
	<array>
		<dict>
			<key>Category</key>
			<string>Parameter</string>
			<key>ParameterKey</key>
			<string>WFVPN</string>
			<key>ActionIndex</key>
			<integer>0</integer>
			<key>Text</key>
			<string>Выберите установленный VPN TOLF. В обоих вопросах выберите одно и то же подключение. / Select the installed TOLF VPN. Use the same connection for both questions.</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>Parameter</string>
			<key>ParameterKey</key>
			<string>WFVPN</string>
			<key>ActionIndex</key>
			<integer>1</integer>
			<key>Text</key>
			<string>Выберите установленный VPN TOLF. В обоих вопросах выберите одно и то же подключение. / Select the installed TOLF VPN. Use the same connection for both questions.</string>
		</dict>
	</array>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array>
		<string>WFWorkflowTypeShowInSearch</string>
	</array>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
	<key>WFWorkflowName</key>
	<string>TOLF ON</string>
</dict>
</plist>
